@import "login.css";
@import "weather.css";
@import "search.css";
@import "schedule.css";

.hidden{
    display: none !important;
}

/* 배경 이미지를 스타일링할 img 태그 */
body > img {
    position: fixed; /* 스크롤 시에도 고정된 배경으로 유지 */
    top: 0;
    left: 0;
    width: 100%; /* 화면 너비에 맞게 설정 */
    height: 100%; /* 화면 높이에 맞게 설정 */
    object-fit: cover; /* 이미지 비율을 유지하며 화면에 꽉 채움 */
    z-index: -1; /* 이미지가 다른 요소 아래로 배치되도록 설정 */
}

#date{
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

#clock{
    color: white;
    text-align: center;
    font-size: 80px;
    margin: 0;
}